.span
	display: inline-block
	padding: 0.5rem	

	
// Классы для span-элементов страниц SinglePersonPage, SingleMoviePage

.title
	flex: 1 1 55%
	max-width: 55%

.desc
	width: auto
	flex: 1 1 45%
	
.rating, .votes, .actors	 
	color: #2196f3
	padding: 0.25rem	
	