@import "./fonts.sass"
	
:root
	// colors
	--app-dark-color: #fafafa  
	--app-light-color: #212121
	--app-star-color: #fbc02d
	
	--app-dark-bg: linear-gradient(90deg,#3d4052,#282a36,#09090c) 
	--app-light-bg: linear-gradient(90deg,#fff0fe,#f0fcff,#fafafa,#fffeeb)
	--app-filterButton-bg: linear-gradient(90deg, #372c9c,#b7007b,#e83440)
	--app-filterWrapper-bg: linear-gradient(90deg, #496b97,#6f4c9a,#6b14c2)
	--app-card-bg: linear-gradient(90deg, #4cb7b0,#0098c4,#026fc4)

	// -- DEFAULTS
	--app-default-color: var(--app-light-color)
	--app-default-bg: var(--app-light-bg)

*, *::before, *::after
	box-sizing: border-box
	padding: 0px
	margin: 0px

*::-webkit-scrollbar 
	width: 7px
	height: 7px	

*::-webkit-scrollbar-track 
	background: var(--app-default-bg)

*::-webkit-scrollbar-thumb 
	background-color: #1976d2    
	border-radius: 0.25rem      
	border: 1px solid transparent

a 
	font-weight: 500
	color: inherit
	text-decoration: inherit
	transition: transform 0.2s linear
	font-family: 'Montserrat'
	letter-spacing: 0.75px

	&:hover 
		transform: scale(1.02)

body
	font-family: 'Roboto'
	color: var(--app-default-color)
	background: var(--app-default-bg) 
	
h1, h2, h3 
	text-align: center
	margin: 0.5rem 0
	letter-spacing: 0.55px





