:root 
 

*, *::before, *::after 
	box-sizing: border-box
	padding: 0px
	margin: 0px

a 
	font-weight: 500
	color: inherit
	text-decoration: inherit
	transition: transform 0.2s linear

	&:hover 
		transform: scale(1.02)


body
	font-family: 'Roboto' 
	
h1, h2, h3 
	text-align: center
	margin: 0.5rem 0
	letter-spacing: 0.55px



